<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <p>
    <%= flash[:notice] %>
  </p>
<% end %>
<% if flash[:alert] %>
  <p>
    <%= flash[:alert] %>
  </p>
<% end %>

<% if logged_in? %>
  <%= link_to 'Sign Out', logout_path %>
<% else %>
  <%= link_to 'Sign In', login_path %>
<% end %>

<hr>

<%= yield %>

</body>
</html>
